*{margin: 0;padding: 0;box-sizing: border-box;}
img{border:0;}
li{list-style: none;}
a{text-decoration: none;}
.box{
    width: 100%;
    height: auto;
    background:#fff;

}
header{
    width: 100%;
    height: 80px;
    background: #EDEEF3;
}
.m{
    width: 1200px;
    height: 80px;
    margin: 0px auto;
/*     display: flex;
    justify-content: space-between; */
}
.logo{
    width: 230px;
    padding-top: 20px;
    float: left;
    padding-bottom: 24px;
}
.logo>a>img{
    width: 100%;
    height: 100%;
}
.head-right{
    width: 800px;
    height: 80px;
    line-height: 79px;
    float: right;
}
.head-right>ul>li{
    font-size: 14px;
    float: left;
    margin-left: 73px;
}
.head-right>ul>li:hover a{
    color: #01B0F1;
}
.head-right>ul>li:hover{
    animation: shake 2s;
}
.head-right>ul>li:first-child a{
    color: #01B0F1;
}
.head-right>ul>li>a{
    color: #333;
}
#app{
    position: relative;
}
#app:hover .pr{
    display: block;
}
.pr{
    position: absolute;
    z-index: 99;
    top: 80px;
    left: -31px;
    display: none;
}
.pr>img{
    width: 120px;
    height: 120px;
}



/* 轮播图 */
#swiper-container1{
    width: 100%;
    height: 580px;
}
.swiper-slide>img{
    width: 100%;
    height: 100%;
}
.con{
    width: 100%;
    height: 580px;
    background: url(../img/bg.png) no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}
.con>h3{
    color: #333;
    font-size: 30px;
    line-height: 36px;
    margin-top: 125px;
    text-align: center;
    font-weight: 300;
}
.con>p{
    margin-top: 20px;
    color: #000;
    font-size: 18px;
    text-align: center;
}
.swiper-pagination-bullet{
    width: 44px !important;
    height: 2px !important;
    border-radius: 0px !important;
    background: #fff !important;
}
#swiper-right{
    background: url(../img/right.png) no-repeat !important;
    background-size: 100% 100%;
}
#swiper-left{
    background: url(../img/left.png) no-repeat !important;
    background-size: 100% 100%;
}

/* main */
.main{
    width: 100%;
    height: 500px;
    overflow: hidden;
}
.m2{
    width: 1200px;
    height: 300px;
    margin: 0px auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

@keyframes mym2{
    0%{transform: translate(0px,-50px);opacity: 0;}
    100%{transform: translate(0px,0px);opacity: 1;}
}

.m2>ul>li{
    width: 25%;
    height: 300px;
    float: left;
    text-align: center;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    opacity:0;
}
#li1{
    animation:img1 2s forwards ease-in-out;
}
#li2{
    animation:img2 2s forwards ease-in-out;
}
#li3{
    animation:img3 2s forwards ease-in-out;
}
#li4{
    animation:img4 2s forwards ease-in-out;
}
.m2>ul>li:hover{
    box-shadow: 0px 20px 20px #e7e7e7;
}
.m2>ul>li:hover img{
    transform: rotateY(360deg);
    transition: 0.6s ease-in-out;
}
.m2>ul>li>a{
    width: 100%;
    height:230px;
    display: block;
    margin-top: 70px;

}
.m2>ul>li>a>img{
    width: 80px;
    height: 80px;
}
.m2>ul>li>a>p{
    font-size: 18px;
    line-height: 30px;
    color: #333;
}
.m2>ul>li>a>span{
    color: #B2B2B2;
    font-size: 14px;
    line-height: 40px;
}
/* 硬件设备 */
.con2{
    width: 100%;
    height: auto;
    overflow:hidden;
    background: #F2F2F2;
}
.ying{
    width: 1200px;
    margin: 0px auto;
    height: 1200px;
    margin-top: 60px;
    margin-bottom: 60px;
}
@keyframes myy{
    0%{opacity: 0;transform: translate(0px,-30px);}
    100%{opacity: 1;transform: translate(0px,0px);}
}
#p1{
    font-size: 30px;
    text-align: center;
    line-height: 30px;
}
@keyframes myp1{
    0%{transform: translate(0px,-30px);}
    100%{transform: translate(0px,0px);}
}
#p2{
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
}
@keyframes myp2{
    0%{transform: translate(0px,30px);}
    100%{transform: translate(0px,0px);}
}
.kai{
    width: 100%;
    height: 1000px;
    opacity: 0;
}
.kai>li{
    margin-right: 200px;
    float: left;
    width: 80px;
    height: 80px;
    margin-top: 86px;
    text-align: center;
    transition: 0.5s;
}
.kai>li:hover{
    transform:translate(0px,-10px);
}
.kai>li>a>p{
    font-size: 16px;
    color: #2d2d2d;
    line-height: 16px;
}
#p3{
    font-size: 18px;
    text-align: center;
    margin-top: 100px;

}
@keyframes myp3{
    0%{transform: translate(0px,-20px);opacity: 0;}
    100%{transform: translate(0px,0px);opacity: 1;}
}
/* 控制方案 */
.con3{
    width: 100%;
    height: 600px;
    overflow: hidden;
}
#p4{
    font-size: 30px;
    text-align: center;
    margin-top: 90px;
    color: #393939;
}
@keyframes fadeInDown {
0% {opacity:0;transform: translateX(-1000px);}
100% {opacity:1;transform: translateX(0);}
}
.bd{
    width: 100%;
    height: 340px;
    margin-top: 50px;
}
#swiper-container2{
    width: 95%;
    height: 100%;
    overflow:visible !important;
    float: right;
    transition: .5s;
}
.picture{
    width: 280px;
    height: 100%;
}
.picture>a{
    width: 100%;
    height: 100%;
    display: block;
    transition: 0.5s;
}
.picture>a>div{
    width: 100%;
    height: 282px;
}
.picture>a:hover {
    transform: scale(1.1);
}
.picture>a>div>img{
    width: 100%;
    height: 100%;

}
.picture>a>span{
    width: 100%;
    height:58px;
    background: #181819;
    text-align: center;
    line-height: 58px;
    color: #fff;
    display: block;
}
#zuo{
    width: 34px !important;
    height: 66px !important;
    background: url(../img/i_prev.png) !important;
    left: -72px !important;
}
#you{
    width: 34px !important;
    height: 66px !important;
    background: url(../img/i_next.png) !important;
    right: 64px !important;
}

/* 技术咨讯 */
.con4{
    width: 100%;
    height: 700px;
    overflow: hidden;
}
#ji{
    font-size: 30px;
    color: #393939;
    text-align: center;
    line-height: 50px;
}
@keyframes ji {
0% {opacity:0;transform: translateY(-50px);}
100% {opacity:1;transform: translateY(0px);}
}
.zixun{
    width: 1200px;
    height: 600px;
    margin: 0px auto;
    margin-top: 60px;
}
#ji-left{
    width: 600px;
    height: 80%;
    float: left;
}
#ji-left>a>img{
    transition: 1s;
}
#ji-left>a:hover img{
    transform:scale(1.1);
}
@keyframes jileft{
    0%{transform:translateX(-1000px);}
    100%{transform:translateX(0px);}
}
#ji-right{
    width: 600px;
    height: 80%;
    float: right;
}
@keyframes jiright{
    0%{transform:translateX(1000px);}
    100%{transform:translateX(0px);}
}
#ji-right>ul{
    width: 100%;
    height: 100%;
}
#ji-right>ul>li{
    width: 100%;
    height: 25%;
}

#ji-right>ul>li>a{
    color: #333;
}
#ji-right>ul>li:hover a{
    color: #fff;
}
#ji-right>ul>li:hover .lf{
    background: #404040;
}
#ji-right>ul>li:hover .ri{
    background: #626262;
}
#ji-right>ul>li:hover p{
    color: #fff;
}
.lf{
    width: 150px;
    height: 100%;
    font-size: 18px;
    float: left;
    text-align: center;
    transition: 1s;
}
.lf>strong{
    font-size: 48px;
    line-height: 95px;
    font-weight: 300;
}
.ri{
    width: 450px;
    height: 100%;
    float: right;
    transition: 1s;
}
.ti{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #333;
}
.ti>h4{
    font-size: 16px;
    font-weight: 300;
    line-height: 40px;
}
.ri>p{
    font-size: 14px;
    color: #666666;
    line-height: 20px;
    transition: 1s;
}
/* 尾部 */
footer{
    width: 100%;
    height:375px;
    background: #EFEFEF;
    overflow: hidden;
}
.conta{
    width: 1200px;
    height: 280px;
    margin: 0px auto;
    margin-top: 62px;
}
#assist{
    float: left;
}
#assist>ul>li{
    height: 250px;
    border-left: 1px solid #bfbfbf;
    float: left;
    margin-right: 60px;
}
#assist>ul>li>h3{
    font-size: 18px;
    font-weight: 300;
    margin-left: 10px;
}
#assist>ul>li>.women>a>p:hover {
    color: #01B0F1;
}
.women{
    font-size: 14px;
    margin-left: 10px;
    margin-top: 15px;
}
.women>a{
    color: #333;
}
.women>a>p{
    line-height: 30px;
}
#dexter{
    float: right;
}
#dexter>ul{
    height: 126px;
}
#dexter>ul>li{
    float: left;
    margin-left: 30px;
}
#dexter>ul>li>img{
    width: 103px;
    height: 103px;
}
#dexter>ul>li>p{
    font-size: 14px;
    color: #333333;
    margin-left: 10px;
}
#dexter>p{
    font-size: 16px;
    color: #333;
    line-height: 30px;
    margin-top: 20px;
    margin-left:30px;
}
/* 底部 */
.di{
    width: 100%;
    height: 100px;
    background: #1F1F23;
}
.bu{
    width: 1200px;
    height: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
@keyframes mybu{
    0%{transform:translateY(1000px);}
    100%{transform:translateX(0px);}
}
.di>.bu>p{
    font-size: 14px;
    color: #fff;
    line-height: 100px;
}
.jia>ul>li{
    float: left;
    margin-left: 20px;
    margin-top: 40px;
}
.jia>ul>li:hover img{
    opacity: 0.5;
}
@keyframes img1{
    from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1) translate3d(0px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
@keyframes img2 {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1) translate3d(0px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
@keyframes img3 {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1) translate3d(0px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
@keyframes img4 {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1) translate3d(0px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
@keyframes shake {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate3d(10px, 0, 0);
  }
}